body{
    background: -webkit-linear-gradient(#0acffe,#495aff) fixed;
    
}
.content{
    display: grid;
    margin: 50px;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "   reading setting setting  "
    "   alarm temp fanosc "
    ;
    
    
    
}

.reading{
    grid-area: reading;
    background: linear-gradient( 135deg, yellow  , #DC143C) ;
    color: #fff;
    padding: 10% 20%;
    letter-spacing: 2px;
    font-family: Helvetica;
    font-size: 16pt;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, .75);
    transition: all .2s ease-in-out;
    transform: translateY(-100%);
    animation: slide-in 1s forwards;

}

.reading:hover{
  transform: scale(1.1);
}

.reading > h1{
  text-align: center;
}

.setting{
    grid-area: setting;
    text-align: center;
    background: linear-gradient( 45deg, #7B68EE  , #8B008B) ;
    color: #fff;
    padding-bottom: 5px;
    letter-spacing: 2px;
    font-family: Helvetica;
    font-weight: lighter;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, .75);
    transition: all .2s ease-in-out;
    transform: translateY(200%);
    animation: slide-up 1s forwards;

}

.setting:hover{
  transform: scale(1.1);
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: rgba(211,211,211, .5);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#FanSpeedControl{
	width: 75%;
  }

.Settings{
    display: grid;
    margin: auto;
    margin-top: 5px;
    
}

#low, #med, #high{
  margin-top: 5px;
  border-radius: 34px;
  border: solid #ffffff;
  background-color: transparent;
  color: #fff;
  width: 20%;
  padding: 5px;
  letter-spacing: 2px;
  font-weight: bold;
}

#low:hover, #med:hover, #high:hover{
  cursor: pointer;
  background-color: #ffff;
  color: #7B68EE;
}

#low:focus, #med:focus, #high:focus{
  background-color: #ffff;
  color: #7B68EE;

}

.fanosc{
  grid-area: fanosc;
  background: linear-gradient(45deg,#00FF33, #66FF99);
  text-align: center;
  display: block;
  padding-bottom: 10px;
  font-family: Helvetica;
  font-size: 16pt;
  color: #ffff;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .75);
  transition: all .2s ease-in-out;
  transform: translateY(-400%);
  animation: slide-in 1s forwards;

}

.fanosc:hover{
  transform: scale(1.1);
}

.temp{
  grid-area: temp;
  display: block;
  color: #fff;
  background: linear-gradient(#FFFF00, #FFD700)fixed;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .75);
  transition: all .2s ease-in-out; 
  padding-top: 25%;
  padding: 10px;
}

.alarm{
  grid-area: alarm;
  background:  linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); 
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .75);
  color: #fff;
 
  font-family: Helvetica;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  padding-top: 25%;
  transition: all .2s ease-in-out;
  transform: translateY(300%);
    animation: slide-up 1s forwards;  
}

input[datetime-local]{
  background: transparent;
  font-family: Helvetica;
}

.alarm:hover{
  transform: scale(1.1);
}

.submit{
  display: block;
  margin: auto;
  border: solid #fff;
  background-color: transparent;
  color: #fff;
  
  border-radius: 20px;
  
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px;
  margin-top: 10px;
}

.submit:hover{
  cursor: pointer;
  color: #fd868c;
  background-color: #fff;
}

#slider{
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  .content {
    display: block;
    margin: 0;
  }
  .alarm{
    margin:0 ;
    box-shadow: 0 0 0 ;
    padding:0;
  }
}

@keyframes slide-in{
  100%{ transform: translateY(0%);}
}

@keyframes slide-up{
  100%{transform: translateY(0%);}
}
